
.element {
  width: 5em;
}

.is-steel {
  background-color: grey;
}

.is-water {
  background-color: blue;
  color: white;
}

.is-bug {
  background-color: greenyellow;
}

.is-dragon {
  background-color: darkblue;
  color: white;
}

.is-electric {
  background-color: yellow;
}

.is-ghost {
  background-color: whitesmoke;
}

.is-fire {
  background-color: red;
}

.is-fairy {
  background-color: palevioletred;
}

.is-ice {
  background-color: blue;
  color: white;
}

.is-fighting {
  background-color: pink;
}

.is-normal {
  background-color: grey;
}

.is-plant {
  background-color: green;
}

.is-psychic {
  background-color: papayawhip;
}

.is-stone {
  background-color: burlywood;
}

.is-sinister {
  background-color: blue;
  color: white;
}

.is-earth {
  background-color: brown;
}

.is-poison {
  background-color: greenyellow;
}

.is-flying {
  background-color: blue;
  color: white;
}

.choose {
  border-color: red;
  border-width: thick;
}

.is-fire.choose {
  border-color: blue;
}
